<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">X_Heart 说说</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">X_Heart 说说</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li <%if(active == "index"){%>class="active"<%}%>><a href="/">全部说说 <span class="sr-only">(current)</span></a></li>
        <% if (login) { %><li <%if(active == "user"){%>class="active"<%}%>><a href="/user/<%=username%>">我的说说</a></li> <% }  %>
        <li <%if(active == "userlist"){%>class="active"<%}%>><a href="/userlist">成员列表</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <% if (login) { %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">欢迎您！<%=username%> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li <%if(active == "setavatar"){%>class="active"<%}%>><a href="/setavatar">设置个人资料</a></li>
            <li><a href="/dropout">退出</a></li>
          </ul>
        </li>
      <% } else {  %>
        <li <%if(active == "regist"){%>class="active"<%}%>><a href="/regist">注册</a></li>
        <li <%if(active == "login"){%>class="active"<%}%>><a href="/login">登录</a></li>
      <% }  %>
      </ul>
    </div><!--/.navbar-collapse -->
  </div>
</nav>